@model IEnumerable<Lab3_1223319_1003519.Models.Farmaco>

@{
    ViewBag.Title = "Index";
}

<h2>Resultados de la busqueda</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.ActionLink("Agregar al carrito", "AgregarProducto", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
@Html.ActionLink("Volver al inicio", "Index")